{% extends "base.html" %}

{% block content %}

<div class="container is-fluid">
    <div class="notification">
      <h2 class="title" style="color:black;">
        {{ post.title }}
      </h2>
      <h5 class="subtitle" style="color:lightslategray; font-size: smaller;">posted by: {{ post.user.name }} at {{ post.timestamp.strftime('%x %H:%M') }}</h5>
      <h3 class="body" style="color:black;">
          {% set text_full = post.body %}
          {% set text = text_full.split('\n') %}
          {% for para in text %}
              <p>{{para}}</p>
          {% endfor %}  
      </h3>
    </div>
    {% if current_user.id == post.user.id %}
    <div class="field is-grouped is-grouped-right">
      <p class="control">
        <form action="{{ post.id }}/update" method="get">
          <button class="button is-link is-small">Update</button>
        </form>
      </p>
      <p class="control">
        <form action="{{ post.id }}/delete" method="post">
          <button class="button is-danger is-small">Delete</button>
        </form>
      </p>
    </div>
    {% endif %}
</div> 

{% endblock %}