{% extends "base.html" %}


{% block content %}


<div class="container is-fluid">
    <div class="notification">
      <h2 class="title" style="color:black;">
        {{ post.title }}
      </h2>
      <h5 class="subtitle" style="color:lightslategray; font-size: smaller;">posted by: {{ post.user.name }} at {{ post.timestamp.strftime('%x %H:%M') }}</h5>
      {% for tag in post.tags %}
        <span class="tag is-info"> {{ tag.name }} </span>
      {% endfor %}
      <hr>
      {% if post.is_file %}
      <video width="700" height="500" controls>
      <source src="{{ url_for('static', filename=post.body) }}" type="video/mp4">
      </video>
      {% endif %}
      {% if not post.is_file %}
      <h3 class="body" style="color:black;">
          {% set text_full = post.body %}
          {% set text = text_full.split('\n') %}
          {% for para in text %}
              <p>{{para}}</p>
          {% endfor %}
      </h3>
      {% endif %}
    </div>
    {% if current_user.id == post.user.id %}
    <div class="field is-grouped is-grouped-right">
      <p class="control">
        <form action="{{ post.id }}/update" method="get">
          <button class="button is-link is-small">Update</button>
        </form>
      </p>
      <p class="control">
        <form action="{{ post.id }}/delete" method="post">
          <button class="button is-danger is-small">Delete</button>
        </form>
      </p>
    </div>
    {% endif %}
</div>
<hr>

<form action="{{ post.id }}/comment" method="POST">
  <div class="field">
    <textarea class="textarea" name="comment" placeholder="Start discussion here!" required></textarea>
  </div>
  <div class="field is-grouped is-grouped-right">
    <p class="control">
      <button class="button is-link">
        Comment
      </button>
    </p>
  </div>
</form>

<br>

<div class="box">
<strong>Comments</strong>

{% for comment in comments %}
  {% if comment.level() == 1 %}
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p>
              <strong>{{ comment.user.name }}</strong>
              <br>
              {% set text_full = comment.text %}
              {% set text = text_full.split('\n') %}
              {% for para in text %}
                  <p>{{para}}</p>
              {% endfor %}
              <small>
                <a onclick="refs.modalEdicion.open( {{comment.id}} )">
                  <span>Reply</span>
                </a> · {{ comment.timestamp.strftime('%x %H:%M') }}
              </small>
            </p>
          </div>
        </div>
      </article>
  {% elif comment.level() == 2 %}
  <article class="media">
        <figure class="media-left">
        </figure>
        <div class="media-content">
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>{{ comment.user.name }}</strong>
                  <br>
                  {% set text_full = comment.text %}
                  {% set text = text_full.split('\n') %}
                  {% for para in text %}
                      <p>{{para}}</p>
                  {% endfor %}
                  <small>
                    <a onclick="refs.modalEdicion.open( {{comment.id}} )">
                      <span>Reply</span>
                    </a> · {{ comment.timestamp.strftime('%x %H:%M') }}
                  </small>
                </p>
              </div>
            </div>
        </div>
      </article>
  {% else %}
  <article class="media">
        <figure class="media-left">
        </figure>
        <article class="media">
          <figure class="media-left">
          </figure>
          <div class="media-content">
              <figure class="media-left">
              </figure>
              <div class="media-content">
                  <div class="media-content">
                    <figure class="media-left">
                    </figure>
                    <div class="content">
                      <p>
                        <strong>{{ comment.user.name }}</strong>
                        <br>
                        {% set text_full = comment.text %}
                        {% set text = text_full.split('\n') %}
                        {% for para in text %}
                            <p>{{para}}</p>
                        {% endfor %}
                        <small>
                          <a onclick="refs.modalEdicion.open( {{comment.id}} )">
                            <span>Reply</span>
                          </a> · {{ comment.timestamp.strftime('%x %H:%M') }}
                        </small>
                      </p>
                    </div>
                  </div>
              </div>
          </div>
      </article>
  </article>
  {% endif %}

{% endfor %}
</div>

<!--Modal-->
{% for comment in comments %}
<form id="form" method="POST" action="{{ post.id }}/{{ comment.id }}/reply">
  <div class="modal" id="{{ comment.id }}">
    <div onclick="refs.modalEdicion.close({{ comment.id }})" class="modal-background"></div>
      <div class="modal-content">
        <div class="field">
          <div class="control">
            <textarea class="textarea" name="reply" placeholder="Reply to comment by {{ comment.user.name }}" required></textarea>
          </div>
        </div>
      </div>
    <br>
    <div class="field is-grouped is-grouped-right">
      <div class="control">
        <button class="button is-link">Submit</button>
      </div>
    </div>
    <button class="modal-close is-large" aria-label="close" onclick="refs.modalEdicion.close({{ comment.id }})"></button>
  </div>
</form>

{% endfor %}

<script>
  var refs = {
  modalEdicion: {
    open: function(x) { document.getElementById(x).classList.add('is-active');
    },
    close:function(x) { document.getElementById(x).classList.remove('is-active');
    }
  }
};

</script>

{% endblock %}
