{% extends "base.html" %}

{% block content %}

<div class="container is-fluid">
    <div class="notification">
      <h2 class="title" style="color:black;">
        {{ post.title }}
      </h2>
      <h5 class="subtitle" style="color:lightslategray; font-size: smaller;">posted by: {{ post.user.name }} at {{ post.timestamp.strftime('%x %H:%M') }}</h5>
      <h3 class="body" style="color:black;">
          {% set text_full = post.body %}
          {% set text = text_full.split('\n') %}
          {% for para in text %}
              <p>{{para}}</p>
          {% endfor %}  
      </h3>
      {% if current_user %}
        <a href="{{ url_for('blog.update', post_id=post.id) }}" button class="button is-focused">update</a>
      {% endif %}
    </div>
</div> 

{% endblock %}