{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
  <div class="notification is-danger">
    <button class="delete"></button>
    {{ messages[0] }}
  </div>
{% endif %}
{% endwith %}

<h1 class="title">
  Welcome to Epiphany!
</h1>
<h2 class="subtitle">
  A space for collaborative learning
</h2>
<div class="field">
  <div class="control">
    <h4>Search Bar</h4>
      <form class="form-inline" method="GET" action="search">
        <div class="form-group">
          <input class="input" name="query" type="text" placeholder="Search posts" name="query" id="query">
        </div>
        <button type="submit" class="button is-link">Search</button>
      </form>
  </div>
</div>
{% for post in posts %}
  <div class="container is-fluid">
    <div class="notification">
      <h2 class="title" style="color:black;">
        <a href="{{ url_for('blog.indiv_post', post_id=post.id) }}" >
          {{ post.title }}
        </a>
      </h2>
      <h5 class="subtitle" style="color:lightslategray; font-size: smaller;">posted by: {{ post.user.name }} at {{ post.timestamp.strftime('%x %H:%M') }}</h5>
    </div>
  </div>
  {% if not loop.last %}
      <hr>
  {% endif %}
{% endfor %}
{% endblock %}
