{% extends "base.html" %}

{% block content %}

<h1 class="title">
  Welcome to Epiphany!
</h1>
<h2 class="subtitle">
  A space for collaborative learning
</h2>
<div class="field">
  <div class="control">
    <h4>Search Bar</h4>
      <form class="form-inline" method="GET" action="search">
        <div class="form-group">
          <input class="input" name="query" type="text" placeholder="Search posts" name="query" id="query">
        </div>
        <button type="submit" class="button is-link">Search</button>
      </form>
    </div>
  </div>
{% for post in posts %}
  <div class="container is-fluid">
    <div class="notification">
      <h2 class="title" style="color:black;">
        {{ post.title }}
      </h2>
      <h3 class="subtitle" style="color:black;">
        {% set text_full = post.body %}
        {% set text = text_full.split('\n') %}
        {% for para in text %}
            <p>{{para}}</p>
        {% endfor %}
      </h3>
    </div>
  </div>
  {% if not loop.last %}
      <hr>
  {% endif %}
{% endfor %}
{% endblock %}
