{% extends "base.html" %}

{% block content %}
<!-- <h1 class="title">
  Welcome, {{ name }}!
</h1>
<div>
    <form action="/uploader" method="POST" enctype="multipart/form-data">
        <div id="file-js-example" class="file has-name">
            <label class="file-label">
                <input class="file-input" type="file" name="resume">
                <span class="file-cta">
                    <span class="file-icon">
                        <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                        Choose a file…
                    </span>
                </span>
                <span class="file-name">
                    No file uploaded
                </span>
            </label>
            <button type="submit">Submit</button>
        </div>
    </form>
</div> -->


<h1>Upload new File</h1>
<form method=post enctype=multipart/form-data>
  <div class="field">
    <label class="label" for="title">Title</label>
    <div class="control">
      <input class="input" name="title" type="text" placeholder="Insert title" onkeydown="return event.key != 'Enter';" autocomplete="off">
    </div>
  </div>
  <input type=file name=file>
  <input type=submit value=Upload>
</form>
{% endblock %}
